﻿<%@ Page Language="C#" AutoEventWireup="true"  MasterPageFile="~/SiteModal.Master"   CodeBehind="alert.aspx.cs" Inherits="MedCSX.Claim.alert" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">


</asp:Content>
