﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteClaim.Master" AutoEventWireup="true" CodeBehind="Claim.aspx.cs" Inherits="MedCSX.Claim.Claim1" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
   <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script>
      //$(document).mouseup(function (e) { 
      //    var uniqueWinName = url.searchParams.get("claim_id");
      //    if (uniqueWinName.open())
      //    {
      //        uniqueWinName.focus();
      //    }
      //} 
      
      
   </script>
   <script type = "text/javascript">
      function Confirm() {
          var confirm_value = document.createElement("INPUT");
          confirm_value.type = "hidden";
          confirm_value.name = "confirm_value";
          if (confirm("Do you want to save data?")) {
              confirm_value.value = "Yes";
          } else {
              confirm_value.value = "No";
          }
          document.forms[0].appendChild(confirm_value);
      }
   </script>
   <style>
      .MyTabStyle .ajax__tab_tab /*inactive tab*/
      { 
      outline: 0; 
      }
      .MyTabStyle .ajax__tab_active .ajax__tab_tab  /*active tab*/
      { 
      color: #ff0000; 
      outline: 0; 
      }
      .MyTabStyle .ajax__tab_header .ajax__tab_inner
      {
      border-color: #ff0000;
      color: #ff0000;
      }
      input[type=radio] {
      float: left;
      }
      label {
      margin-left: 2px;
      font-weight:100
      }
      .hiddencol
      {
      display: none;
      }
   </style>
   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
         <div class="container-fluid">
            <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
               <ul class="nav">
                  <li class="dropdown">
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">File <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Associate Claim with Policy</a></li>
                        <li><a href="#">Claim Locks</a></li>
                        <li><a href="#">Close Claim</a></li>
                        <li><a href="#">Reopen Claim</a></li>
                        <li><a href="#">Exit</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">Reports <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Claim Summary Report</a></li>
                        <li><a href="#">File Activity Report</a></li>
                        <li><a href="#">File Activity Detailed Report</a></li>
                        <li><a href="#">File Activity Summary Report</a></li>
                        <li><a href="#">Draft Report</a></li>
                     </ul>
                  </li>
                  <li class="dropdown">
                     <a data-toggle="dropdown" class="dropdown-toggle" href="#">Window <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                        <li><a href="#">Auto Refresh</a></li>
                        <li><a href="#">Refresh Now</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
            <!-- /.nav-collapse -->
         </div>
      </div>
   </div>
   <div class="row" style="background-color:#f0f0f0;">
      <div class="col-md-1">
         <asp:ImageButton ID="ImageButton1" runat="server" ImageUrl="../Content/Images/ClaimAssignReserves.png" onclick="imgAssignReserves_Click" />
      </div>
      <div class="col-md-1">
         <asp:ImageButton ID="imgAssignAppraiser" runat="server" ImageUrl="../Content/Images/ClaimAssignAppraiser.png" onclick="imgAssignAppraiser_Click" />
      </div>
      <div class="col-md-1">
         <asp:ImageButton ID="imgPoliceReport" runat="server" ImageUrl="../Content/Images/ClaimPoliceReports.png" onclick="imgPoliceReport_Click" />
         <%--    <cc1:TabPanel runat="server" HeaderText="TabPanel2" ID="TabPanel12"><HeaderTemplate>
            Claim Audit
            </HeaderTemplate>
              <ContentTemplate>
                 <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://claimaudit.medjames.com:8888/" Target="_blank">Claim Audit System</asp:HyperLink>
              </ContentTemplate>
            </cc1:TabPanel>--%>
      </div>
      <div class="col-md-1">
         <img src="../Content/Images/ClaimNewPolicy.png" />
      </div>
      <div class="col-md-1">
         <img src="../Content/Images/ClaimClaimLocks.png"/>
      </div>
      <div class="col-md-1">
         <img src="../Content/Images/ClaimCloseClaim.png" />
      </div>
      <div class="col-md-1">
         <img src="../Content/Images/ClaimIRClaim.png" />
      </div>
      <div class="col-md-1">
         <asp:ImageButton ID="imgIRPolicy" runat="server" ImageUrl="../content/images/claimirpolicy.png" OnClick="imgIRPolicy_Click" />
      </div>
      <div class="col-md-1">
         <img src="../Content/Images/ClaimQuickHide.png" />
      </div>
   </div>
   <div runat="server" id="LockedPanel" >
      <div class="row">
         <div class="col-md-2">
            Policy:
         </div>
         <div class="col-md-3">
            <asp:Label ID="lblPolicyNo" runat="server" Font-Bold="True" ></asp:Label>
         </div>
         <div class="col-md-2">
            Claim:
         </div>
         <div class="col-md-3">
            <asp:Label ID="lblClaim" runat="server" Font-Bold="True" ></asp:Label>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            Insured:
         </div>
         <div class="col-md-3">
            <asp:Label ID="lblInsuredName" runat="server"></asp:Label>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            Insured Vehicle:
         </div>
         <div class="col-md-3">
            <asp:Label ID="lblInsuredVehicle" runat="server"></asp:Label>
         </div>
      </div>
      <div class="row">
         <div class="col-md-2">
            Loss Description:
         </div>
         <div class="col-md-3">
            <asp:Label ID="lblLossDescription" runat="server"></asp:Label>
         </div>
         <div class="col-md-5">
            Date of Loss:  
            <asp:Label ID="lblDateOfLoss" runat="server"></asp:Label>
         </div>
         <div class="col-md-2">
            <asp:Image ID="imgLocked" runat="server" Visible="false" src="../Content/Images/lock-icon.png"  width="50px" height="50px"  />
            <asp:GridView ID="gvLockReasons" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="claim_lock_id"  
               ForeColor="#333333"   AllowPaging="True" CellSpacing="5"  CaptionAlign="Top" RowStyle-VerticalAlign="Top" PageSize="15" ShowHeader="False">
               <AlternatingRowStyle BackColor="#f0f0f0" ForeColor="#000000" />
               <Columns>
                  <asp:BoundField DataField="lock_reason" HeaderText=""/>
               </Columns>
               <EditRowStyle BackColor="#999999" />
               <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
               <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
               <PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
               <RowStyle BackColor="#fa8072" ForeColor="#000000" />
               <SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" />
               <SortedAscendingCellStyle BackColor="#E9E7E2" />
               <SortedAscendingHeaderStyle BackColor="#506C8C" />
               <SortedDescendingCellStyle BackColor="#FFFDF8" />
               <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
            </asp:GridView>
         </div>
      </div>
   </div>
   <div id="theModal" class="modal fade text-center">
      <div class="modal-dialog">
         <div class="modal-content">
         </div>
      </div>
   </div>
   <input type="hidden" id="passedtabindex" name="passedtabindex" />
   <%--    <cc1:TabPanel runat="server" HeaderText="TabPanel2" ID="TabPanel12"><HeaderTemplate>
      Claim Audit
      </HeaderTemplate>
        <ContentTemplate>
           <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://claimaudit.medjames.com:8888/" Target="_blank">Claim Audit System</asp:HyperLink>
        </ContentTemplate>
      </cc1:TabPanel>--%><%--    <cc1:TabPanel runat="server" HeaderText="TabPanel2" ID="TabPanel12"><HeaderTemplate>
      Claim Audit
      </HeaderTemplate>
        <ContentTemplate>
           <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://claimaudit.medjames.com:8888/" Target="_blank">Claim Audit System</asp:HyperLink>
        </ContentTemplate>
      </cc1:TabPanel>--%>
   <cc1:tabcontainer id="TabContainer1" runat="server" activetabindex="0" AutoPostBack="True" OnActiveTabChanged="TabContainer1_ActiveTabChanged">
      <cc1:TabPanel runat="server" HeaderText="TabPanel1" ID="TabPanel1">
         <HeaderTemplate>General Info</HeaderTemplate>
         <ContentTemplate><div class="row"><div class="col-md-2">BI:</div><div class="col-md-1"><asp:Label ID="lblBI" runat="server" /></div><div class="col-md-2">Prop Damage:</div><div class="col-md-1"><asp:Label ID="lblPropertyDamage" runat="server" /></div><div class="col-md-2">Med Pay:</div><div class="col-md-1"><asp:Label ID="lblMedPay" runat="server" /></div><div class="col-md-2">UM:</div><div class="col-md-1"><asp:Label ID="lblUM" runat="server" /></div></div><div class="row"><div class="col-md-2">UIM:</div><div class="col-md-1"><asp:Label ID="lblUIM" runat="server" /></div><div class="col-md-2">Comp Ded:</div><div class="col-md-1"><asp:Label ID="lblCompDed" runat="server" /></div><div class="col-md-2">Coll Ded:</div><div class="col-md-1"><asp:Label ID="lblCollDed" runat="server" /></div><div class="col-md-2">PIP Ess Services:</div><div class="col-md-1"><asp:Label ID="lblPIPEssServices" runat="server" /></div></div><div class="row"><div class="col-md-2">PIP Med:</div><div class="col-md-1"><asp:Label ID="lblPIPMed" runat="server" /></div><div class="col-md-2">PIP Rehab:</div><div class="col-md-1"><asp:Label ID="lblPIPRehab" runat="server" /></div><div class="col-md-2">PIP Wages:</div><div class="col-md-1"><asp:Label ID="lblPIPWages" runat="server" /></div><div class="col-md-2">PIP Funeral:</div><div class="col-md-1"><asp:Label ID="lblPIPFuneral" runat="server" /></div></div><hr /><div class="col-md-12">Date of Loss: <asp:TextBox ID="txtDateOfLoss" runat="server" Height="20px" Width="150px" TextMode="Date"></asp:TextBox>Time: <asp:TextBox ID="txtTimeOfLoss" runat="server" Height="20px" Width="100px" TextMode="Time"></asp:TextBox>Date Reported: <asp:TextBox ID="txtDateReported" runat="server" Height="20px" Width="210px" TextMode="DateTimeLocal"></asp:TextBox>Driver Of IV At Fault: &nbsp; <asp:DropDownList ID="ddlIVDriverAtFault" runat="server" Height="20px"></asp:DropDownList></div><div class="col-md-6"><div class="row"><div class="col-md-3">Insured: </div><div class="col-md-9"><asp:DropDownList ID="ddlInsuredPerson" runat="server" Font-Size="Smaller" Width="300px" AutoPostBack="True" OnSelectedIndexChanged="ddlInsuredPerson_SelectedIndexChanged" ></asp:DropDownList></div></div><div class="row"><div class="col-md-3">Insured Vehicle: </div><div class="col-md-9"><asp:DropDownList ID="ddlInsuredVehicle" runat="server" Font-Size="Smaller" Width="300px"></asp:DropDownList><asp:Button ID="btnVehicleAdd" runat="server" CausesValidation="False" class="btn btn-info btn-xs" data-target="#theModal" data-toggle="modal" OnClick="btnVehicleAdd_Click" Text="A" /><asp:Button ID="btnVehicleUpdate" runat="server" CausesValidation="False" class="btn btn-info btn-xs" data-target="#theModal" data-toggle="modal" OnClick="btnVehicleUpdate_Click" Text="U" /></div></div><div class="row"><div class="col-md-3">Owner: </div><div class="col-md-9"><asp:DropDownList ID="ddlOwner" runat="server"  Font-Size="Smaller" Width="300px" AutoPostBack="True" OnSelectedIndexChanged="ddlOwner_SelectedIndexChanged"></asp:DropDownList><nobr><asp:Button  ID="btnOwnerAdd" runat="server" class="btn btn-info btn-xs"  Text="A"  data-toggle="modal" data-target="#theModal"  CausesValidation="False" OnClick="btnOwnerAdd_Click"   /><asp:Button ID="btnOwnerUpdate" runat="server" CausesValidation="False" class="btn btn-info btn-xs" data-target="#theModal" data-toggle="modal" OnClick="btnOwnerUpdate_Click" Text="U" /></nobr></div></div><div class="row"><div class="col-md-3">Driver: </div><div class="col-md-9"><asp:DropDownList ID="ddlDriver" runat="server" Font-Size="Smaller" Width="300px" AutoPostBack="True" OnSelectedIndexChanged="ddlDriver_SelectedIndexChanged"></asp:DropDownList><asp:Button  ID="btnDriverAdd" runat="server" class="btn btn-info btn-xs"  Text="A"   CausesValidation="False" OnClick="btnDriverAdd_Click"  /><asp:Button ID="btnDriverUpdate" runat="server" CausesValidation="False" class="btn btn-info btn-xs" OnClick="btnDriverUpdate_Click" Text="U" /></div></div><div class="row"><div class="col-md-3">IV Damage: </div><div class="col-md-9"><asp:TextBox ID="txtIVDamage" runat="server" Height="20px" Width="300px"></asp:TextBox></div></div><div class="row"><div class="col-md-3">Where IV Seen: </div><div class="col-md-9"><asp:TextBox ID="txtWhereIVSeen" runat="server" Height="20px" Width="300px"></asp:TextBox></div></div><div class="row"><div class="col-md-3">Loss Location: <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ControlToValidate="txtLossLocation" ErrorMessage="**" Font-Bold="True" ForeColor="Red">**</asp:RequiredFieldValidator></div><div class="col-md-9"><asp:TextBox ID="txtLossLocation" runat="server" Height="20px" Width="300px"></asp:TextBox></div></div><div class="row"><div class="col-md-3"></div><div class="col-md-9">City: <asp:RequiredFieldValidator ID="RequiredFieldValidator3" runat="server" ControlToValidate="txtLossCity" ErrorMessage="**" Font-Bold="True" ForeColor="Red">**</asp:RequiredFieldValidator>&nbsp;&nbsp;<asp:TextBox ID="txtLossCity" runat="server" Height="20px" Width="150px" />State: <asp:DropDownList ID="ddlLossState" Width="50px" runat="server"></asp:DropDownList></div></div><div class="row"><div class="col-md-3">Accident Type: </div><div class="col-md-9"><asp:DropDownList ID="ddlAccidentType" runat="server" Width="300px"></asp:DropDownList></div></div><div class="row"><div class="col-md-3">Loss Description: </div><div class="col-md-9"><asp:TextBox ID="txtLossDescription" runat="server"  Width="300px" TextMode="MultiLine"></asp:TextBox></div></div><div class="row"><div class="col-md-3">Auth Contact: </div><div class="col-md-9"><asp:TextBox ID="txtAuthContacted" runat="server" Height="20px" Width="130px"></asp:TextBox>Report Num: <asp:TextBox ID="txtReportNum" runat="server" Height="20px" Width="100px" /></div></div><div class="row"><div class="col-md-3">Reported By Type: </div><div class="col-md-9"><asp:DropDownList ID="ddlReportedByType" runat="server" Width="130px"></asp:DropDownList>Reported By: <asp:RequiredFieldValidator ID="RequiredFieldValidator1" runat="server" ControlToValidate="txtReportedBy" ErrorMessage="**" Font-Bold="True" ForeColor="Red">**</asp:RequiredFieldValidator><asp:TextBox ID="txtReportedBy" runat="server" Height="20px" Width="100px" /></div></div><div class="row"><div class="col-md-3">Comments: </div><div class="col-md-9"><asp:TextBox ID="txtComments" runat="server"  Width="300px" TextMode="MultiLine"></asp:TextBox></div></div><div class="row"><div class="col-med-12"><asp:Button  ID="btnSave" runat="server"  class="btn btn-info btn-xs"  Text="Save" onClick="btnSave_Click" /><asp:Label ID="lblSuccess" runat="server" Font-Bold="True"></asp:Label></div></div></div><div class="col-md-6"><div class="row"><div class="col-md-4"><asp:Label ID="lblInsuredPhone" runat="server" Text="Label"></asp:Label></div><div class="col-md-3"><asp:DropDownList ID="ddlInsuredPhoneType" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlInsuredPhoneType_SelectedIndexChanged"></asp:DropDownList></div></div><div class="row"><div class="col-md-12">&nbsp;&nbsp;</div></div><div class="row"><div class="col-md-4"><asp:Label ID="lblOwnerPhone" runat="server"></asp:Label></div><div class="col-md-3"><asp:DropDownList ID="ddlOwnerPhoneType" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlOwnerPhoneType_SelectedIndexChanged"></asp:DropDownList></div></div><div class="row"><div class="col-md-4"><asp:Label ID="lblDriverPhone" runat="server"></asp:Label></div><div class="col-md-3"><asp:DropDownList ID="ddlDriverPhoneType" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlDriverPhoneType_SelectedIndexChanged"></asp:DropDownList></div></div><div class="row"><div class="col-md-4"><asp:CheckBox ID="cbPermToUse" runat="server" Text="Perm To Use" /></div><div class="col-md-3"><asp:CheckBox ID="cbSR22" runat="server" Text="SR-22" /></div></div><div class="row"><div class="col-md-4"><asp:CheckBox ID="cbIVComp" runat="server" Text="IV Comp" /></div><div class="col-md-3"><asp:CheckBox ID="cbIVCollision" runat="server" Text="IV Collision" /></div></div><div class="row"><div class="col-md-4"><asp:CheckBox ID="cbCoverageIssue" runat="server" Text="Coverage Issue" /></div></div><div class="row"><div class="col-md-4"><asp:CheckBox ID="cbDisputedLiability" runat="server" Text="DisputedLiability" /></div></div><div class="row"><div class="col-md-4"><asp:CheckBox ID="cbLargeLoss" runat="server" Text="Large Loss" /></div><div class="col-md-3"><asp:CheckBox ID="cbInLitigation" runat="server" Text="In Litigation" /></div></div><div class="row"><div class="col-md-12"><hr /></div></div><div class="row"><div class="col-md-4">Agent<br /><label id="agentInfo" runat="server"></label> </div><div class="col-md-4">Adjuster: <br /><label id="adjusterInfo" runat="server"></label></div></div><div class="row"><div class="col-md-4"><div class="col-md-3"><asp:CheckBox ID="cbFoxPro" runat="server" Text="Foxpro Conversion" /><br /><asp:Label ID="lblFoxPro" runat="server"></asp:Label></div></div><asp:Button ID="btnAddEditSIU" runat="server" Text="Add/Edit SIU" /></div></div></div></div></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel2" ID="TabPanel2">
         <HeaderTemplate>Property Damage</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvPropertyDamage" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="property_damage_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"  OnSorting="gvPropertyDamage_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvPropertyDamage_PageIndexChanging" CellSpacing="5" PagerSettings-Position="TopAndBottom" CaptionAlign="Top" RowStyle-VerticalAlign="Top" HeaderStyle-VerticalAlign="Top" PageSize="15" ShowFooter="True" FooterStyle-BackColor="White"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnPDView" runat="server" Visible="true" data-toggle="modal" data-target="#theModal" class="btn btn-info btn-xs"  Text="View"    OnClientClick=<%# FormatPopupPD(Eval("property_damage_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnPDAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupPD("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="Property Type" HeaderText="Property Type"  SortExpression="Property Type"/><asp:BoundField DataField="" HeaderText="Reserve Type"  SortExpression=""/><asp:BoundField DataField="Property Description" HeaderText="Property Description"  SortExpression="Property Description"/><asp:BoundField DataField="Est Damage Amount" HeaderText="Est Damage Amount"  DataFormatString="{0:c}"  SortExpression="Est Damage Amount"/><asp:BoundField DataField="Where Seen" HeaderText="Where Seen"   SortExpression="Where Seen"/><asp:BoundField DataField="Other Insurance Company" HeaderText="Other Insurance Company"  SortExpression="Other Insurance Company"/><asp:BoundField DataField="Other Insurance Policy No" HeaderText="Other Insurance Policy No"  SortExpression="Other Insurance Policy No"/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnPDUpdate" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Update"    OnClientClick=<%# FormatPopupPD(Eval("property_damage_id").ToString(), "u") %>  /><asp:Button  ID="btnPDDelete" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Delete"    OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnPDDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnPDAdd2" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupPD("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="White" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel3" ID="TabPanel3">
         <HeaderTemplate>Witness / Passenger</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvWitness" runat="server" AutoGenerateColumns="False" CellPadding="4"  DataKeyNames="person_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvWitness_Sorting" AllowSorting="True" AllowPaging="True"  RowStyle-ForeColor="White" ShowFooter="True"  width="100%"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText=""><ItemTemplate><asp:Button  ID="btnPDUpdate" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal"  Text="View"    OnClientClick=<%# FormatPopupWitness(Eval("person_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnWitnessUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupWitness("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="description" HeaderText="Type"  SortExpression="description"  /><asp:BoundField DataField="person" HeaderText="Name"  SortExpression="person"  /><asp:BoundField DataField="Address" HeaderText="Address"  SortExpression="Address"  /><asp:BoundField DataField="City" HeaderText="City"  SortExpression="City"  /><asp:BoundField DataField="abbreviation" HeaderText="State"  SortExpression="abbreviation"  /><asp:BoundField DataField="zipcode" HeaderText="Zip"  SortExpression="zipcode"  /><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnPDUpdate" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Update"    OnClientClick=<%# FormatPopupWitness(Eval("person_id").ToString(), "u") %>  /><asp:Button  ID="btnPDDelete" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Delete"    OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnWitnessDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnWitnessUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupWitness("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel4" ID="TabPanel4">
         <HeaderTemplate>Injured</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvInjured" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="person_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvInjured_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvInjured_PageIndexChanging"  width="100%"  ShowFooter="True" FooterStyle-BackColor="White"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnInjuredView" runat="server" Visible="true" data-toggle="modal" data-target="#theModal" class="btn btn-info btn-xs"  Text="View"    OnClientClick=<%# FormatPopupInjured(Eval("person_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnPDAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupInjured("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="type" HeaderText="Type"  SortExpression="type"  /><asp:BoundField DataField="name" HeaderText="Name"  SortExpression="name"  /><asp:BoundField DataField="Address1" HeaderText="Address"  SortExpression="Address1"  /><asp:BoundField DataField="City" HeaderText="City"  SortExpression="City"  /><asp:BoundField DataField="state" HeaderText="State"  SortExpression="state"  /><asp:BoundField DataField="zipcode" HeaderText="Zip"  SortExpression="zipcode"  /><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnInjuredUpdate" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Update"    OnClientClick=<%# FormatPopupInjured(Eval("person_id").ToString(), "u") %>  /><asp:Button  ID="btnInjuredDelete" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Delete"    OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnInjuredDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnPDAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupInjured("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel5" ID="TabPanel5">
         <HeaderTemplate>File Activity</HeaderTemplate>
         <ContentTemplate>Type: <asp:DropDownList ID="ddlShowFileNotesByType" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowFileNotesByType_SelectedIndexChanged"></asp:DropDownList>&nbsp;&nbsp;Claimant: <asp:DropDownList ID="ddlShowFileNotesForClaimant" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowFileNotesForClaimant_SelectedIndexChanged"></asp:DropDownList>&nbsp;&nbsp;Reserve: <asp:DropDownList ID="ddlShowFileNotesForReserve" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowFileNotesForReserve_SelectedIndexChanged"></asp:DropDownList><br /><img src="../Content/Images/printer.png" /><asp:HyperLink ID="hprNormalReport" runat="server"  Target="_blank">Normal Report</asp:HyperLink>&nbsp;&nbsp;<img src="../Content/Images/printer.png" /> <asp:HyperLink ID="hprDetailedReport" runat="server"  Target="_blank">Detailed Report</asp:HyperLink>&nbsp;&nbsp;<img src="../Content/Images/printer.png" /> <asp:HyperLink ID="hprSummaryReport" runat="server"  Target="_blank">Summary Report</asp:HyperLink>&nbsp;&nbsp;<img src="../Content/Images/printer.png" /> <asp:HyperLink ID="hprUserEnteredNotes" runat="server"  Target="_blank">User Entered File Notes</asp:HyperLink>&nbsp;&nbsp; <asp:CheckBox ID="chkDiariesOnly" Text="Diaries Only" runat="server" OnCheckedChanged="chkDiariesOnly_CheckedChanged" AutoPostBack="true" /><br />Search For: <asp:TextBox ID="txtSearchFileNote" runat="server"></asp:TextBox><asp:Button ID="btnSearchFileNotes"  class="btn btn-info btn-xs"  runat="server" Text="Search" OnClick="btnSearchFileNotes_Click"/><asp:GridView ID="gvFileNotes" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="file_note_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" 
               ForeColor="#333333"  OnSorting="gvFileNotes_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvFileNotes_PageIndexChanging"  width="100%" PageSize="10"  ShowFooter="True" FooterStyle-BackColor="White"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnInjuredView" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="View"    OnClientClick=<%# FormatPopupFileNote(Eval("file_note_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnPDAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupFileNote("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="created_date" HeaderText="Date Created"  SortExpression="created_date"  ItemStyle-Width="140px" /><asp:BoundField DataField="file_note_type" HeaderText="File Note Type"  SortExpression="file_note_type"  ItemStyle-Width="100px" /><asp:BoundField DataField="diary_type" HeaderText="Diary Type"  SortExpression="diary_type"  ItemStyle-Width="125px" /><asp:BoundField DataField="diary_cleared" HeaderText="Cleared"  SortExpression="diary_cleared"  /><asp:BoundField DataField="diary_due_date" HeaderText="Diary Due Date"  SortExpression="diary_due_date"  ItemStyle-Width="115px" /><asp:BoundField DataField="user_name" HeaderText="User"  SortExpression="user_name"  ItemStyle-Width="100px" /><asp:BoundField DataField="claimant" HeaderText="Claimant"  SortExpression="claimant"  ItemStyle-Width="100px" /><asp:BoundField DataField="reserve" HeaderText="Reserve"  SortExpression="reserve"  ItemStyle-Width="100px" /><asp:BoundField DataField="file_note_text" HeaderText="Description"  SortExpression="file_note_text"  /></Columns><EmptyDataTemplate><asp:Button  ID="btnPDAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupFileNote("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView><div class="col-md-12"><asp:Button ID="btnNewDiary" runat="server" Visible="false" class="btn btn-info btn-xs"  Text="New Diary for Myself"   /><asp:Button ID="btnClearDiary" runat="server" Visible="false" class="btn btn-info btn-xs"  Text="Clear Diary"   /><asp:Button ID="btnClearAllAlertsForClaim" runat="server" Visible="false" class="btn btn-info btn-xs"  Text="Clear All Alerts for Claim"   /></div></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel6" ID="TabPanel6">
         <HeaderTemplate>Claimants</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvClaimant" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="person_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvClaimant_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvClaimant_PageIndexChanging" width="100%"  ShowFooter="True" FooterStyle-BackColor="White"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnClaimantView" runat="server" Visible="true" data-toggle="modal" data-target="#theModal" class="btn btn-info btn-xs"  Text="View"    OnClientClick=<%# FormatPopupClaimant(Eval("person_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnClaimantAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupClaimant("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="type" HeaderText="Claimant Type"  SortExpression="type"  /><asp:BoundField DataField="name" HeaderText="Name"  SortExpression="name"  /><asp:BoundField DataField="Address1" HeaderText="Address"  SortExpression="Address1"  /><asp:BoundField DataField="City" HeaderText="City"  SortExpression="City"  /><asp:TemplateField HeaderText="State" ><ItemTemplate><asp:Label ID="state" runat="server" Text='<%# GetState(Eval("state_id").ToString()) %>' >
                        </asp:Label></ItemTemplate></asp:TemplateField><asp:BoundField DataField="zipcode" HeaderText="Zip"  SortExpression="zipcode"  /><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnClaimantUpdate" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Update"    OnClientClick=<%# FormatPopupClaimant(Eval("person_id").ToString(), "u") %>  /><asp:Button  ID="btnClaimantDelete" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="Delete"    OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnClaimantDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnClaimantAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupClaimant("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel7" ID="TabPanel7">
         <HeaderTemplate>Vehicles</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvVehicles" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="vehicle_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvVehicles_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvVehicles_PageIndexChanging"  width="100%"  ShowFooter="True" FooterStyle-BackColor="White"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnClaimantView" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="View"    OnClientClick=<%# FormatPopupVehicle(Eval("vehicle_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnClaimantAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupVehicle("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="year_made" HeaderText="Year"  SortExpression="year_made"/><asp:BoundField DataField="manufacturer" HeaderText="Make"  SortExpression="manufacturer"/><asp:BoundField DataField="model" HeaderText="Model"  SortExpression="model"/><asp:BoundField DataField="License_Plate_No" HeaderText="License Plate No"  SortExpression="License_Plate_No"/><asp:BoundField DataField="Abbreviation" HeaderText="State"  SortExpression="Abbreviation"/><asp:BoundField DataField="vin" HeaderText="Vin"  SortExpression="vin"/><asp:BoundField DataField="color" HeaderText="Color"  SortExpression="color"/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnVehicleUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupVehicle(Eval("vehicle_id").ToString(), "u") %>  /><asp:Button  ID="btnVehicleDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete"  data-toggle="modal" data-target="#theModal"  OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnClaimantDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnClaimantAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupVehicle("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel8" ID="TabPanel8">
         <HeaderTemplate>Reserves</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvReserves" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="reserve_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvReserves_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvReserves_PageIndexChanging"  width="100%" ShowFooter="true" ><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnReservesView" runat="server" Visible="true" class="btn btn-info btn-xs" data-toggle="modal" data-target="#theModal" Text="View"    OnClientClick=<%# FormatPopupReserves(Eval("reserve_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnClaimantAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupClaimant("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="ReserveTypeDescription" HeaderText="Reserve Type"  SortExpression="ReserveTypeDescription"/><asp:BoundField DataField="PersonName" HeaderText="Claimant"  SortExpression="PersonName"/><asp:BoundField DataField="ReserveStatus" HeaderText="Status"  SortExpression="ReserveStatus"/><asp:BoundField DataField="AdjusterName" HeaderText="Assigned To"  SortExpression="AdjusterName"/><asp:BoundField DataField="Net_Loss_Reserve" HeaderText="Net Loss Reserve" DataFormatString="{0:c}" SortExpression="Net_Loss_Reserve"/><asp:BoundField DataField="Paid_Loss" HeaderText="Paid Loss" DataFormatString="{0:c}"  SortExpression="Paid_Loss"/><asp:BoundField DataField="Net_Expense_Reserve" HeaderText="Net Expense Reserve" DataFormatString="{0:c}"  SortExpression="Net_Expense_Reserve"/><asp:BoundField DataField="Paid_Expense" HeaderText="Paid Expense" DataFormatString="{0:c}"  SortExpression="Paid_Expense"/><asp:BoundField DataField="date_open" HeaderText="Date opened"  SortExpression="date_open"/><asp:BoundField DataField="" HeaderText="Reserving"  SortExpression=""/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnReservesUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupReserves(Eval("reserve_id").ToString(), "u") %>  /><asp:Button  ID="btnReservesDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete" data-toggle="modal" data-target="#theModal"   OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnReservesDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnClaimantAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupClaimant("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel9" ID="TabPanel9">
         <HeaderTemplate>Tasks</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvTasks" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="user_task_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvTasks_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvTasks_PageIndexChanging"  width="100%" ShowFooter="True"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnTasksView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupTasks(Eval("user_task_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnTasksAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupTasks("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="task_type" HeaderText="Task Type"  SortExpression="task_type"/><asp:BoundField DataField="created_date" HeaderText="Date"  SortExpression="created_date"/><asp:BoundField DataField="reserve_type" HeaderText="Reserve Type"  SortExpression="reserve_type"/><asp:BoundField DataField="task_description" HeaderText="Task Description"  SortExpression="task_description"/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnTasksUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update" data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupTasks(Eval("user_task_id").ToString(), "u") %>  /><asp:Button  ID="btnTasksDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete" data-toggle="modal" data-target="#theModal"   OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnTasksDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnTasksAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupTasks("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel10" ID="TabPanel10">
         <HeaderTemplate>Policy Data</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvPolicyData" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="policy"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"   width="100%"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:BoundField DataField="policy" HeaderText="Policy"  SortExpression="policy"/><asp:BoundField DataField="namedInsured" HeaderText="Ins"  SortExpression="namedInsured"/><asp:BoundField DataField="insuredVehicle" HeaderText="IV"  SortExpression="insuredVehicle"/><asp:BoundField DataField="owner" HeaderText="Own"  SortExpression="owner"/><asp:BoundField DataField="driver" HeaderText="Drv"  SortExpression="driver"/><asp:BoundField DataField="no_version" HeaderText="Policy Version"  SortExpression="no_version"/><asp:BoundField DataField="dt_eff" HeaderText="Effective Date" SortExpression="estimate"/><asp:BoundField DataField="dt_exp" HeaderText="Expiration Date" SortExpression="dt_exp"/><asp:BoundField DataField="transaction" HeaderText="Transaction" SortExpression="transaction"/><asp:BoundField DataField="Endorsement_Reason" HeaderText="Endorsement Reason" SortExpression="Endorsement_Reason"/><asp:BoundField DataField="no_vehicles" HeaderText="Num Vehicles" SortExpression="no_vehicles"/><asp:BoundField DataField="additional_drivers" HeaderText="Additional Drivers" SortExpression="additional_drivers"/><asp:BoundField DataField="excluded_drivers" HeaderText="Excluded Drivers" SortExpression="excluded_drivers"/></Columns><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel11" ID="TabPanel11">
         <HeaderTemplate>Appraisals</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvAppraisals" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="appraisal_task_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvAppraisals_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvAppraisals_PageIndexChanging"  width="100%" ShowFooter="True"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnAppraisalsView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupAppraisals(Eval("appraisal_task_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnAppraisalsAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupAppraisals("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="vehicle" HeaderText="Vehicle"  SortExpression="vehicle"/><asp:BoundField DataField="appraisal_status" HeaderText="Appraisal Status"  SortExpression="appraisal_status"/><asp:BoundField DataField="request_date" HeaderText="Request Date"  SortExpression="request_date"/><asp:BoundField DataField="claimant" HeaderText="Claimant"  SortExpression="claimant"/><asp:BoundField DataField="task_description" HeaderText="Task Description"  SortExpression="task_description"/><asp:BoundField DataField="special_instructions" HeaderText="Special Instructions"  SortExpression="special_instructions"/><asp:BoundField DataField="estimate" HeaderText="Estimate"   DataFormatString="{0:c}" SortExpression="estimate"/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnAppraisalsUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update" data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupAppraisals(Eval("appraisal_task_id").ToString(), "u") %>  /><asp:Button  ID="btnAppraisalsDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete" data-toggle="modal" data-target="#theModal"   OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnAppraisalsDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnAppraisalsAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupAppraisals("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <%--    <cc1:TabPanel runat="server" HeaderText="TabPanel2" ID="TabPanel12"><HeaderTemplate>
         Claim Audit
         </HeaderTemplate>
           <ContentTemplate>
              <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="http://claimaudit.medjames.com:8888/" Target="_blank">Claim Audit System</asp:HyperLink>
           </ContentTemplate>
         </cc1:TabPanel>--%>
      <cc1:TabPanel runat="server" HeaderText="TabPanel13" ID="TabPanel13">
         <HeaderTemplate>Documents</HeaderTemplate>
         <ContentTemplate><asp:RadioButtonList ID="rblDocuments" runat="server" RepeatDirection="Horizontal" OnSelectedIndexChanged="rblDocuments_SelectedIndexChanged" AutoPostBack="True"><asp:ListItem Value="1" Text="Pending" /><asp:ListItem Value="2" Text="Completed" /><asp:ListItem Value="3" Text="Available" /></asp:RadioButtonList><asp:GridView ID="gvDocuments" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="document_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvDocuments_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvDocuments_PageIndexChanging"  width="100%"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:BoundField DataField="DocumentType" HeaderText="Document Type"  SortExpression="DocumentType"/><asp:BoundField DataField="claimant" HeaderText="Claimant"  SortExpression="claimant"/><asp:BoundField DataField="date_printed" HeaderText="Date Printed"  SortExpression="date_printed"/></Columns><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel14" ID="TabPanel14">
         <HeaderTemplate>Phone Numbers</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvPhoneNumbers" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="person_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvPhoneNumbers_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvPhoneNumbers_PageIndexChanging"  width="100%" ShowFooter="True"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField><ItemTemplate><asp:Button  ID="btnPhoneView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupPhone(Eval("person_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnPhoneAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupPhone("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="person_type" HeaderText="Person Type"  SortExpression="person_type"/><asp:BoundField DataField="Name" HeaderText="Name"  SortExpression="Name"/><asp:BoundField DataField="home_phone" HeaderText="Home Phone"  SortExpression="home_phone"/><asp:BoundField DataField="work_phone" HeaderText="Work Phone"  SortExpression="work_phone"/><asp:BoundField DataField="cell_phone" HeaderText="Mobile Phone"  SortExpression="cell_phone"/><asp:BoundField DataField="fax" HeaderText="Fax"  SortExpression="fax"/><asp:BoundField DataField="email" HeaderText="Email"  SortExpression="email"/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnPhoneUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupPhone(Eval("person_id").ToString(), "u") %>  /><asp:Button  ID="btnPhoneDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete"  data-toggle="modal" data-target="#theModal"  OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnPhoneDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnPhoneAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupPhone("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel15" ID="TabPanel15">
         <HeaderTemplate>Possible Duplicates</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvPossibleDuplicates" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="Possible_Duplicate_Claim_Id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvPossibleDuplicates_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvPossibleDuplicates_PageIndexChanging"  width="100%"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField><ItemTemplate><asp:Button  ID="btnPossibleDuplicatesView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupPossibleDuplicates(Eval("Duplicate_Claim_Id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /></asp:TemplateField><asp:BoundField DataField="duplicate_claim_id" HeaderText="Claim"  SortExpression="duplicate_claim_id"/><asp:BoundField DataField="policy_no" HeaderText="Policy"  SortExpression="policy_no"/><asp:BoundField DataField="date_of_loss" HeaderText="Date of Loss"  SortExpression="date_of_loss"/><asp:BoundField DataField="description" HeaderText="Match Description"  SortExpression="description"/></Columns><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel6" ID="TabPanel16">
         <HeaderTemplate>Demand / Offer</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvDemands" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="demand_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSelectedIndexChanged="gvDemands_SelectedIndexChanged" AutoGenerateSelectButton="True"   width="100%" ShowFooter="true"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField><ItemTemplate><asp:Button  ID="btnDemandsView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupDemands(Eval("demand_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnDemandsAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupDemands("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="reserve_type" HeaderText="Reserve Type"  SortExpression="reserve_type"/><asp:BoundField DataField="claimant" HeaderText="Claimant"  SortExpression="claimant"/><asp:BoundField DataField="vendor" HeaderText="Attorney"  SortExpression="vendor"/><asp:BoundField DataField="vendor_id" HeaderText="" ItemStyle-Width="0px"  ItemStyle-CssClass="hiddencol" /><asp:BoundField DataField="reserve_id" HeaderText="" ItemStyle-Width="0px"  ItemStyle-CssClass="hiddencol" /></Columns><EmptyDataTemplate><asp:Button  ID="btnDemandsAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupDemands("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView><div class="row"><div class="col-md-12">Demand / Offer History </div></div><asp:GridView ID="gvDemandOffer" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found" ShowFooter="true"
               ForeColor="#333333"   width="100%"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField HeaderText="Demand / Offer" ><ItemTemplate><asp:Label runat="server" Text=<%# Eval("type")%>></asp:Label></ItemTemplate><FooterTemplate><asp:Button  ID="Button1" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD Demand"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupDemandDemand("0", "c") %>  /><asp:Button  ID="btnDemandOfferAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD Offer"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupDemandOffer("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="date" HeaderText="Date"/><asp:BoundField DataField="received_date" HeaderText="Received Date" /><asp:BoundField DataField="due_date" HeaderText="Due Date"  /><asp:BoundField DataField="amount" HeaderText="Amount" /><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnDemandOfferUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupDemandOffer(Eval("id").ToString(), "u") %>  /><asp:Button  ID="btnDemandOfferDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete"  data-toggle="modal" data-target="#theModal"  OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnDemandOfferDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnDemandOfferAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD Offer"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupDemandOffer("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel7" ID="TabPanel17">
         <HeaderTemplate>Litigation</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvLitigation" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="litigation_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvLitigation_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvLitigation_PageIndexChanging"  width="100%" ShowFooter="True"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField><ItemTemplate><asp:Button  ID="btnLitigationView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupLitigation(Eval("litigation_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnLitigationAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupLitigation("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="defense_attorney" HeaderText="Defense Attorney"  SortExpression="defense_attorney"/><asp:BoundField DataField="Plaintiff_Attorney" HeaderText="Plantiff Attorney"  SortExpression="Plaintiff_Attorney"/><asp:BoundField DataField="court_location" HeaderText="Court Location"  SortExpression="court_location"/><asp:BoundField DataField="date_filed" HeaderText="Date Filed"  SortExpression="date_filed"/><asp:BoundField DataField="date_served" HeaderText="Date Served"  SortExpression="date_served"/><asp:BoundField DataField="resolution_amount" HeaderText="Resolution Amount"  DataFormatString="{0:c}" SortExpression="resolution_amount"/><asp:BoundField DataField="status" HeaderText="Status"  SortExpression="status"/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnLitigationUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupLitigation(Eval("litigation_id").ToString(), "u") %>  /><asp:Button  ID="btnLitigationDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete"  data-toggle="modal" data-target="#theModal"  OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnLitigationDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnLitigationAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupLitigation("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel8" ID="TabPanel18">
         <HeaderTemplate>Salvage</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvSalvage" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="salvage_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvSalvage_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvSalvage_PageIndexChanging"  width="100%" ShowFooter="True"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField><ItemTemplate><asp:Button  ID="btnSalvageView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupSalvage(Eval("salvage_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnSalvageAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupSalvage("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="" HeaderText="Vehicle"  SortExpression=""/><asp:BoundField DataField="" HeaderText="Vendor"  SortExpression=""/><asp:BoundField DataField="" HeaderText="Location"  SortExpression=""/><asp:BoundField DataField="" HeaderText="Phone"  SortExpression=""/><asp:BoundField DataField="" HeaderText="Charges"  SortExpression=""/><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnSalvageUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupSalvage(Eval("salvage_id").ToString(), "u") %>  /><asp:Button  ID="btnSalvageDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete"  data-toggle="modal" data-target="#theModal"  OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnSalvageDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnSalvageAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupSalvage("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
      <cc1:TabPanel runat="server" HeaderText="TabPanel9" ID="TabPanel19">
         <HeaderTemplate>Alerts</HeaderTemplate>
         <ContentTemplate><asp:GridView ID="gvAlerts" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="alert_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
               ForeColor="#333333"  OnSorting="gvAlerts_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvAlerts_PageIndexChanging"  width="100%" ShowFooter="True"><AlternatingRowStyle BackColor="White" ForeColor="#284775" /><Columns><asp:TemplateField><ItemTemplate><asp:Button  ID="btnAlertsView" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="View" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupAlerts(Eval("alert_id").ToString(), "r") %>  /></ItemTemplate><ItemStyle HorizontalAlign="Center" /><FooterTemplate><asp:Button  ID="btnAlertsAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupAlerts("0", "c") %>  /></FooterTemplate></asp:TemplateField><asp:BoundField DataField="Urgent" HeaderText="Urgent"  SortExpression="Urgent"  /><asp:BoundField DataField="Sent_From" HeaderText="Sent From"  SortExpression="Sent_From"><ItemStyle Width="150px" /></asp:BoundField><asp:BoundField DataField="date_sent" HeaderText="Date Sent" SortExpression="date_sent"><ItemStyle Width="175px" /></asp:BoundField><asp:BoundField DataField="Deferred_date" HeaderText="Date Received"  SortExpression="Deferred_date"><ItemStyle Width="175px" /></asp:BoundField><asp:BoundField DataField="" HeaderText="Status"  SortExpression="" /><asp:BoundField DataField="file_note_type" HeaderText="File Note Type" SortExpression="file_note_type"><ItemStyle Width="175px" /></asp:BoundField><asp:BoundField DataField="file_note_text" HeaderText="Alert Text"  /><asp:TemplateField HeaderText="" ><ItemTemplate><asp:Button  ID="btnAlertsUpdate" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Update"  data-toggle="modal" data-target="#theModal"  OnClientClick=<%# FormatPopupAlerts(Eval("alert_id").ToString(), "u") %>  /><asp:Button  ID="btnAlertsDelete" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="Delete"  data-toggle="modal" data-target="#theModal"  OnClientClick="return confirm('Are you sure you want to delete this record?');"   OnClick="btnAlertsDelete_Click"  /></ItemTemplate></asp:TemplateField></Columns><EmptyDataTemplate><asp:Button  ID="btnAlertsAdd" runat="server" Visible="true" class="btn btn-info btn-xs"  Text="ADD" data-toggle="modal" data-target="#theModal"   OnClientClick=<%# FormatPopupAlerts("0", "c") %>  /></EmptyDataTemplate><EditRowStyle BackColor="#999999" /><FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" /><HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" /><PagerStyle BackColor="#5D7B9D" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" /><RowStyle BackColor="#F7F6F3" ForeColor="#333333" /><SelectedRowStyle BackColor="#E2DED6" Font-Bold="True" ForeColor="#333333" /><SortedAscendingCellStyle BackColor="#E9E7E2" /><SortedAscendingHeaderStyle BackColor="#506C8C" /><SortedDescendingCellStyle BackColor="#FFFDF8" /><SortedDescendingHeaderStyle BackColor="#6F8DAE" /></asp:GridView></ContentTemplate>
      </cc1:TabPanel>
   </cc1:tabcontainer>
   <%-- </ContentTemplate>--%><%--   </asp:UpdatePanel>--%>
</asp:Content>