﻿<%@ Page  Title="MedCsX" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="MedCSX.Claim.Default" %>


<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
  
   
     <style type="text/css">
        .FixedHeader {
            position: absolute;
            font-weight: bold;
            vertical-align:text-top;
            
            
           
            
        }      
   
        .MyTabStyle .ajax__tab_tab /*inactive tab*/
        { 
         outline: 0; 
        }

        .MyTabStyle .ajax__tab_active .ajax__tab_tab  /*active tab*/
        { 
         color: #ff0000; 
         outline: 0; 
        }
        .MyTabStyle .ajax__tab_header .ajax__tab_inner
         {
             border-color: #ff0000;
             color: #ff0000;
     
         }
        input[type=radio] {
            float: left;
        }

        input[type=radio] {
            float: left;
              margin-left: 10px;
        }

        label {
            margin-left: 2px;
            //display: block;
        }
       label,input{
        display: inline-block;
        vertical-align: top;
       }
      .HeaderFreez
            {
               position:relative ;
               top:expression(this.offsetParent.scrollTop);
               z-index: 10;
            }
    </style>



<asp:UpdatePanel ID="UpdatePanel1" runat="server" width="100%">
    <ContentTemplate>
<cc1:tabcontainer id="TabContainer1" runat="server"  AutoPostBack="True" OnActiveTabChanged="TabContainer1_ActiveTabChanged">
            <cc1:TabPanel runat="server" HeaderText="TabPanel1" ID="TabPanel1">
            <HeaderTemplate>
                 My Alerts <asp:Label ID="lblNoAlerts" runat="server" Text=""></asp:Label>
            </HeaderTemplate>
            <ContentTemplate>

                Show Alerts For: <asp:DropDownList ID="ddlShowAlertsFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowAlertsFor_SelectedIndexChanged"></asp:DropDownList><br />
               
                <asp:RadioButtonList ID="rblAlertType"  runat="server" RepeatDirection="Horizontal" OnSelectedIndexChanged="rblAlertType_SelectedIndexChanged" AutoPostBack="True">
                    <asp:ListItem Value="1" Text="Alerts Sent To" Selected="True" />
                    <asp:ListItem Value="2" Text="Alerts Sent From" />
                </asp:RadioButtonList>
                &nbsp;&nbsp;&nbsp;&nbsp;<asp:LinkButton ID="ClearMyAlert"  class="btn btn-info btn-xs" OnClick="ClearMyAlert_Click" CausesValidation="false" runat="server">Clear Alerts</asp:LinkButton>
                
                
             
                <asp:GridView ID="gvAlerts"  runat="server" AutoGenerateColumns="False" 
                    CellPadding="4" 
                    DataKeyNames="alert_id"   
                    ShowHeaderWhenEmpty="True" 
                    EmptyDataText="No records Found"
                    ForeColor="#333333"  
                    OnRowDataBound="gvAlerts_RowDataBound" AllowPaging="False"  Width="100%" PageSize="100" AllowSorting="true" OnSorting="gvAlerts_Sorting">
<<<<<<< HEAD
                                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
=======
<<<<<<< HEAD
                                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
=======
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <Columns>
                    <asp:TemplateField>
                     
        <ItemTemplate>

            <asp:CheckBox ID="cbSelect" runat="server" />

        </ItemTemplate>

    </asp:TemplateField>
                      
                        <asp:TemplateField HeaderText="Claim" SortExpression="display_claim_id">
                            <ItemTemplate>
<<<<<<< HEAD
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?Ptabindex=4&tabindex=4&claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
=======
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?tabindex=18&claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="left" />
                        </asp:TemplateField>
                      
                      
                    
                        <asp:BoundField DataField="Urgent" HeaderText="Urgent"  SortExpression="Urgent"  />
                        <asp:BoundField DataField="Sent_From" HeaderText="Sent From"  SortExpression="Sent_From"><ItemStyle Width="150px" /></asp:BoundField>

                        <asp:BoundField DataField="date_sent" HeaderText="Date Sent" SortExpression="date_sent">
                        <ItemStyle Width="175px" />
                        </asp:BoundField>
                        <asp:BoundField DataField="Deferred_date" HeaderText="Date Received"  SortExpression="Deferred_date">
                         <ItemStyle Width="175px" />
                        </asp:BoundField>
                        <asp:BoundField DataField="file_note_type" HeaderText="File Note Type" SortExpression="file_note_type">
                         <ItemStyle Width="175px" />
                        </asp:BoundField>
                         <asp:BoundField DataField="file_note_text" HeaderText="Alert Text" SortExpression="file_note_text"  />
                     
                       
                    </Columns>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                       <EditRowStyle BackColor="#999999" />
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
                    <EditRowStyle BackColor="#999999" />
                     <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" CssClass="HeaderFreez"  />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
                      
                </asp:GridView>
          
            </ContentTemplate>
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel2" ID="TabPanel2"><HeaderTemplate>
My Reserves <asp:Label ID="lblNoReserves" runat="server" Text=""></asp:Label>
</HeaderTemplate>
    <ContentTemplate>
         Show Reserves For: <asp:DropDownList ID="ddlShowReservesFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowReservesFor_SelectedIndexChanged"></asp:DropDownList><br />
        <asp:Label ID="lblMyReserveWarning" runat="server" Text=""></asp:Label><br />
       <asp:GridView ID="gvReserves" OnRowDataBound="gvReserves_RowDataBound" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="reserve_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
                    ForeColor="#333333"   Width="100%"  PageSize="500" AllowSorting="true" OnSorting="gvReserves_Sorting">
<<<<<<< HEAD
                                   <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
=======
<<<<<<< HEAD
                                   <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
=======
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775"  />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <Columns>
                      <%--    <asp:TemplateField ItemStyle-Width="30" >
                            <ItemTemplate>
                                <asp:Image ID="Image1" runat="server" ImageUrl='<%# Eval("image_index", "~/content/images/{0}.png") %>' Width="30" />
                            </ItemTemplate>
                        </asp:TemplateField>--%>
                        <asp:TemplateField HeaderText="Claim" SortExpression="claim_id">
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"claim_id").ToString() + "=window.open('ViewClaim.aspx?tabindex=7&claim_id=" + DataBinder.Eval(Container.DataItem,"claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"claim_id").ToString() + "" +  DataBinder.Eval(Container.DataItem,"claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
                  <asp:BoundField DataField="reserve_id" HeaderText="Reserve"  SortExpression="reserve_id" />
                <asp:BoundField DataField="Claimant" HeaderText="Claimant"  SortExpression="Claimant"/>
                        <asp:BoundField DataField="date_open" HeaderText="Date Reported"  SortExpression="date_open"/>
                <asp:BoundField DataField="reserve_type" HeaderText="Reserve Type" SortExpression="reserve_type" />
                <asp:BoundField DataField="reserve_status" HeaderText="Reserve Status"  SortExpression="reserve_status"/>
                <asp:BoundField DataField="reserving" HeaderText="Reserving"  SortExpression="reserving"/>
                <asp:BoundField DataField="assigned_to" HeaderText="Assigned To"  SortExpression="assigned_to"/>
                
                 <asp:BoundField DataField="policy_no" HeaderText="Policy No"  SortExpression="policy_no"/>
                 <asp:BoundField DataField="Insured" HeaderText="Insured"  SortExpression="Insured" ItemStyle-CssClass="hiddencol"/>
                 <asp:BoundField DataField="date_of_loss" HeaderText="Date of Loss"  SortExpression="date_of_loss" ItemStyle-CssClass="hiddencol"/>
                 <asp:BoundField DataField="Reserve_Locked" HeaderText="Reserve Locked"  SortExpression="Reserve_Locked" ItemStyle-CssClass="hiddencol"/>
                <asp:BoundField DataField="Reserve_Closed_Pending_Salvage" HeaderText="Closed Pending Salvage" ItemStyle-CssClass="hiddencol" SortExpression="Reserve_Closed_Pending_Salvage"/>
                <asp:BoundField DataField="Reserve_Closed_Pending_Subro" HeaderText="Closed Pending Subro" ItemStyle-CssClass="hiddencol" SortExpression="Reserve_Closed_Pending_Subro"/>

            </Columns>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
               <EditRowStyle BackColor="#999999" />
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
              <EditRowStyle BackColor="#999999" />
                   <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
    </ContentTemplate>
</cc1:TabPanel> 
            <cc1:TabPanel runat="server" HeaderText="TabPanel3" ID="TabPanel3"><HeaderTemplate>
  My Diary  <asp:Label ID="lblNoDiaries" runat="server" Text=""></asp:Label>
  
</HeaderTemplate>
    <ContentTemplate>
         Show Diary For: <asp:DropDownList ID="ddlShowDiaryFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowDiaryFor_SelectedIndexChanged"></asp:DropDownList><br />
        
        <asp:Button ID="btnDiaryPastDue" runat="server" Text="Past Due"  class="btn btn-info btn-xs" OnClick="btnDiaryPastDue_Click" CausesValidation="False" /> 
        &nbsp;&nbsp;&nbsp;&nbsp;<asp:Button ID="btnShowDiaryAll" runat="server" OnClick="btnShowDiaryAll_Click" Text="All"  class="btn btn-info btn-xs" CausesValidation="False"  />
        &nbsp;&nbsp;&nbsp;&nbsp;<asp:LinkButton ID="btnMyDiaryRpt" OnClick="btnMyDiaryRpt_Click" runat="server" CausesValidation="false">My Diary Report</asp:LinkButton>
        &nbsp;&nbsp;&nbsp;&nbsp;<asp:LinkButton ID="btnPastDueRpt" OnClick="btnPastDueRpt_Click" runat="server" CausesValidation="false">Past Due Report</asp:LinkButton>
        &nbsp;&nbsp;&nbsp;&nbsp;<asp:Label ID="lblDairyWarning" runat="server" Text="" Visible="false" ForeColor="Red"></asp:Label>
       
        <%--HeaderStyle-CssClass="FixedHeader"--%>
        <div style="height: 650px; overflow: auto" align="center">
        <asp:GridView GridLines="Both" 
           
            AllowSorting="true"
             OnSorting="gvDiary_Sorting"
            ID="gvDiary" 
            runat="server" 
            OnRowDataBound="gvDiary_RowDataBound" 
            AutoGenerateColumns="False" 
            CellPadding="4" 
            DataKeyNames="diary_id"   
            ShowHeaderWhenEmpty="True" 
            EmptyDataText="No records Found"
                    ForeColor="#333333"   Width="100%">
<<<<<<< HEAD
                                 <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
=======
<<<<<<< HEAD
                                 <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
=======
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <Columns>
                      <%--    <asp:TemplateField ItemStyle-Width="30" >
                            <ItemTemplate>
                                <asp:Image ID="Image1" runat="server" ImageUrl='~/content/images/07.png' Width="30" />
                            </ItemTemplate>
                        </asp:TemplateField>--%>
<<<<<<< HEAD
                <asp:TemplateField HeaderText="Claim" SortExpression="claim_no"  >
=======
<<<<<<< HEAD
                <asp:TemplateField HeaderText="Claim" SortExpression="claim_no"  >
=======
                <asp:TemplateField HeaderText="Claim"  >
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                            <ItemTemplate>
                            <asp:Hyperlink   ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"claim_no").ToString() + "=window.open('ViewClaim.aspx?tabindex=4&claim_id=" + DataBinder.Eval(Container.DataItem,"claim_no").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"claim_no").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("claim_no") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Left" />
                        </asp:TemplateField>
              
                <asp:BoundField DataField="diary_due_date" HeaderText="Due Date" ItemStyle-Font-Bold="true"  SortExpression="diary_due_date" ItemStyle-Width="100px"/>
                <asp:BoundField DataField="file_note_text" HeaderText="File Note Text"  SortExpression="file_note_text"/>
                <asp:BoundField DataField="diary_type" HeaderText="Diary Type"    SortExpression="diary_type"/>
                <asp:BoundField DataField="file_note_type" HeaderText="File Note Type"   SortExpression="file_note_type"/>
                <asp:BoundField DataField="diary_entry_date" HeaderText="Date Sent"    SortExpression="diary_entry_date"/>
                         <asp:BoundField DataField="sent_from" HeaderText="Sent From"   SortExpression="sent_from"/>
               
     

            </Columns>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
             <EditRowStyle BackColor="#999999" />
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
              <EditRowStyle BackColor="#999999" />
                   <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
            </div>
    </ContentTemplate>
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel4" ID="TabPanel4">
<HeaderTemplate>
   My Tasks
</HeaderTemplate>
    <ContentTemplate>
         Show Tasks For: <asp:DropDownList ID="ddlShowTasksFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowTasksFor_SelectedIndexChanged"></asp:DropDownList><br />
         <asp:Label ID="lblNoTasks" runat="server" Text=""></asp:Label><br />
        <asp:LinkButton ID="newTask" runat="server"   class="btn btn-info btn-xs"  OnClick="newTask_Click" CausesValidation="false">New Task</asp:LinkButton>
        &nbsp;&nbsp;&nbsp;&nbsp;<asp:LinkButton ID="clearTask" OnClick="clearTask_Click"   class="btn btn-info btn-xs" CausesValidation="false" runat="server">Clear Task</asp:LinkButton>
        <asp:GridView ID="gvTasks" runat="server" AutoGenerateSelectButton="true" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="user_task_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
                    ForeColor="#333333"  OnSorting="gvTasks_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvTasks_PageIndexChanging" Width="100%" PageSize="500">
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                    <Columns>
                       <%--   <asp:TemplateField ItemStyle-Width="30" >
                            <ItemTemplate>
                                <asp:Image ID="Image1" runat="server" ImageUrl='<%# Eval("image_index", "~/content/images/{0}.png") %>' Width="30" />
                            </ItemTemplate>
                        </asp:TemplateField>--%>
                 <asp:TemplateField HeaderText="Claim">
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?tabindex=7&claim_id=" + DataBinder.Eval(Container.DataItem,"claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
             
                         <asp:BoundField DataField="task_type" HeaderText="Task Type"  SortExpression="task_type"/>
                         <asp:BoundField DataField="created_date" HeaderText="Date"  SortExpression="created_date"/>
                         <asp:BoundField DataField="created_by" HeaderText="Created By"  SortExpression="created_by"/>
                        <asp:BoundField DataField="reserve_type" HeaderText="Reserve Type"  SortExpression="reserve_type"/>
                        <asp:BoundField DataField="Claimant" HeaderText="Claimant"  SortExpression="Claimant"/>
                        <asp:BoundField DataField="task_description" HeaderText="Task Description"  SortExpression="task_description"/>
                        <asp:BoundField DataField="task_status" HeaderText="Status"  SortExpression="task_status"/>
                        <asp:BoundField DataField="display_claim_id" HeaderText="" ItemStyle-CssClass="hiddencol" />

            </Columns>
              <EditRowStyle BackColor="#999999" />
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
                 <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
</ContentTemplate>
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel5" ID="TabPanel5" ><HeaderTemplate>
   My Total Losses
</HeaderTemplate>
    <ContentTemplate>
         Show Total Losses For: <asp:DropDownList ID="ddlShowLosesFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowLosesFor_SelectedIndexChanged"></asp:DropDownList><br />
        <asp:Label ID="lblNoLoses" runat="server" Text="Label"></asp:Label><br />
        <asp:GridView ID="gvLoses" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="reserve_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"  Width="100%" 
                    ForeColor="#333333"  OnSorting="gvLoses_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvLoses_PageIndexChanging" CellSpacing="5" PagerSettings-Position="TopAndBottom" CaptionAlign="Top" RowStyle-VerticalAlign="Top" HeaderStyle-VerticalAlign="Top" PageSize="500">
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                    <Columns>
                       <%--   <asp:TemplateField ItemStyle-Width="30" >
                            <ItemTemplate>
                                <asp:Image ID="Image1" runat="server" ImageUrl='<%# Eval("image_index", "~/content/images/{0}.png") %>' Width="30" />
                            </ItemTemplate>
                        </asp:TemplateField>--%>
                 <asp:TemplateField HeaderText="Claim" SortExpression="display_claim_id">
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
             
                        <asp:BoundField DataField="claimant" HeaderText="Claimant"  SortExpression="claimant"/>
                        <asp:BoundField DataField="reserve_id" HeaderText="Reserve"  SortExpression="reserve_id"/>
                        <asp:BoundField DataField="reserve_type" HeaderText="Reserve Type"  SortExpression="reserve_type"/>
                        <asp:BoundField DataField="reserve_status" HeaderText="Reserve Status"  SortExpression="reserve_status"/>
                        <asp:BoundField DataField="reserving" HeaderText="Reserving"  SortExpression="reserving"/>
                        <asp:BoundField DataField="assigned_to" HeaderText="Assigned To"  SortExpression="assigned_to"/>
                        <asp:BoundField DataField="date_open" HeaderText="Date Reported"  SortExpression="date_open"/>
                        <asp:BoundField DataField="policy_no" HeaderText="Policy No"  SortExpression="policy_no"/>
                        <asp:BoundField DataField="net_loss_reserve" HeaderText="Net Loss Reserve"  DataFormatString="{0:c}"  SortExpression="net_loss_reserve"/>
                        <asp:BoundField DataField="paid_loss" HeaderText="Paid Loss" DataFormatString="{0:c}"  SortExpression="paid_loss"/>
                        <asp:BoundField DataField="net_expense_reserve" HeaderText="Net Expense Reserve"  DataFormatString="{0:c}"  SortExpression="net_expense_reserve"/>
                        <asp:BoundField DataField="paid_expense" HeaderText="Paid Expense"  DataFormatString="{0:c}"  SortExpression="paid_expense"/>
                        <asp:BoundField DataField="date_of_loss" HeaderText="Date of Loss"  SortExpression="date_of_loss"/>

                        
                       
                        
                        

            </Columns>
              <EditRowStyle BackColor="#999999" />
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
                   <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
</ContentTemplate>
    
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel6" ID="TabPanel6"><HeaderTemplate>
  Recon
</HeaderTemplate>
    <ContentTemplate>
       <asp:RadioButtonList ID="rblReconType" runat="server" RepeatDirection="Horizontal" OnSelectedIndexChanged="rblReconType_SelectedIndexChanged" AutoPostBack="True">
                    <asp:ListItem Value="0" Text="All" />
                    <asp:ListItem Value="1" Text="PD" />
                </asp:RadioButtonList>
        All: <asp:Label ID="lblAllRecon" runat="server" Text=""></asp:Label> PD: <asp:Label ID="lblPDRecon" runat="server" Text=""></asp:Label>
                <asp:GridView ID="gvRecon" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="reserve_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
                    ForeColor="#333333"  OnSorting="gvRecon_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvRecon_PageIndexChanging" Width="100%" PageSize="500">
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                    <Columns>
                      <%--   <asp:TemplateField ItemStyle-Width="30" >
                            <ItemTemplate>
                                <asp:Image ID="Image1" runat="server" ImageUrl='<%# Eval("image_index", "~/content/images/{0}.png") %>' Width="30" />
                            </ItemTemplate>
                        </asp:TemplateField>--%>
                      
                        <asp:TemplateField HeaderText="Claim">
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?tabindex=7&claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
                      
                      
                    
                        <asp:BoundField DataField="Claimant" HeaderText="Claimant"  SortExpression="Claimant"  />
                        <asp:BoundField DataField="reserve_id" HeaderText="Reserve"  SortExpression="reserve_id"/>
                        <asp:BoundField DataField="reserve_type" HeaderText="Reserve Type"  SortExpression="reserve_type"/>
                      <asp:BoundField DataField="date_open" HeaderText="Date Reported"  SortExpression="date_open"/>
                         <asp:BoundField DataField="net_loss_reserve" HeaderText="Net Loss Reserve" DataFormatString="{0:c}"  SortExpression="net_loss_reserve"/>
                       
                     
                       
                    </Columns>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                 <EditRowStyle BackColor="#999999" />
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
                    <EditRowStyle BackColor="#999999" />
                   <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
                      
                </asp:GridView>
    </ContentTemplate>
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel7" ID="TabPanel7"><HeaderTemplate>
   My Salvage <asp:Label ID="lblNoSalvage" runat="server" Text=""></asp:Label>
</HeaderTemplate>
    <ContentTemplate>

         Show Salvage For: <asp:DropDownList ID="ddlShowSalvageFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowSalvageFor_SelectedIndexChanged"></asp:DropDownList><br />
        <asp:Label ID="mySalvageWarning" runat="server" Text=""></asp:Label><br />
            <asp:GridView ID="gvSalvage" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="salvage_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
                    ForeColor="#333333"  OnSorting="gvSalvage_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvSalvage_PageIndexChanging" CellSpacing="5" PagerSettings-Position="TopAndBottom" CaptionAlign="Top" RowStyle-VerticalAlign="Top" HeaderStyle-VerticalAlign="Top" PageSize="500" Width="100%" >
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                    <Columns>
                       
                 <asp:TemplateField HeaderText="Claim" SortExpression="display_claim_id">
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?tabindex=17&claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
             
                        <asp:BoundField DataField="claimant_id" HeaderText="Claimant"  SortExpression="claimant_id"/>
                           <asp:BoundField DataField="vehicle_id" HeaderText="Vehicle"  SortExpression="vehicle_id"/>
                         <asp:BoundField DataField="vendor_id" HeaderText="Vendor"  SortExpression="vendor_id"/>
                         <asp:BoundField DataField="" HeaderText="Phone"  SortExpression=""/>
                        <asp:BoundField DataField="" HeaderText="Storage Charges"  SortExpression=""/>
                        <asp:BoundField DataField="" HeaderText="Storage Days"  SortExpression=""/>
                        <asp:BoundField DataField="" HeaderText="Towing"  SortExpression=""/>
                        <asp:BoundField DataField="" HeaderText="Date of Loss"  SortExpression=""/>
                        <asp:BoundField DataField="" HeaderText="Salvage Start Date"  SortExpression=""/>
                      
                      
                         
                      
                        
                       
                        
                        

            </Columns>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
               <EditRowStyle BackColor="#999999" />
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
              <EditRowStyle BackColor="#999999" />
                  <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
    </ContentTemplate>
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel8" ID="TabPanel8"><HeaderTemplate>
   My Demands <asp:Label ID="lblNoDemands" runat="server" Text=""></asp:Label>
</HeaderTemplate>
    <ContentTemplate>
         Show Demands For: <asp:DropDownList ID="ddlShowDemandsFor" runat="server" AutoPostBack="True" OnSelectedIndexChanged="ddlShowDemandsFor_SelectedIndexChanged"></asp:DropDownList><br />
          <asp:GridView ID="gvDemands" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="demand_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
                    ForeColor="#333333"  OnSorting="gvDemands_Sorting" AllowSorting="True" AllowPaging="True"  OnPageIndexChanging="gvDemands_PageIndexChanging" Width="100%"  PageSize="500">
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                    <Columns>
                      <asp:TemplateField HeaderText="Claim" SortExpression="display_claim_id">
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?tabindex=7&claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
                
                    <asp:BoundField DataField="reserve_type" HeaderText="Reserve Type"  SortExpression="reserve_type"/>
                    <asp:BoundField DataField="claimant" HeaderText="Claimant"  SortExpression="claimant"/>
                    <asp:BoundField DataField="vendor" HeaderText="Attorney"  SortExpression="vendor"/>
                  
                

            </Columns>
              <EditRowStyle BackColor="#999999" />
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
                   <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
    </ContentTemplate>
</cc1:TabPanel>
            <cc1:TabPanel runat="server" HeaderText="TabPanel9" ID="TabPanel9"><HeaderTemplate>
  Search
</HeaderTemplate>
    <ContentTemplate>
 
   <div class="row">

       <div class="col-md-12">
           <asp:RadioButtonList ID="rblSearchType" runat="server" RepeatDirection="Horizontal"  OnSelectedIndexChanged="rblSearchType_SelectedIndexChanged" AutoPostBack="True" RepeatColumns="5">
                 <asp:ListItem Value="0" Text="By Claim Number" Selected="True" />   
                 <asp:ListItem Value="1" Text="By Policy Number" />
                  <asp:ListItem Value="2" Text="By Name"/>
                  <asp:ListItem Value="3" Text="By Date of Loss" />
                  <asp:ListItem Value="4" Text="By Vehicle" />
                  <asp:ListItem Value="5" Text="By Draft Number" />
                  <asp:ListItem Value="6" Text="Recent Pending" />
                  <asp:ListItem Value="8" Text="All Locked Pending" />
                  <asp:ListItem Value="9" Text="By Phone Number" />
<<<<<<< HEAD
                
=======
<<<<<<< HEAD
                
=======
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
            
               
           </asp:RadioButtonList>
          
      </div>
      
          
   </div>
        <div class="row">
            <div class="col-md-12">
                <hr />
                </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div runat="server" id="recentpending" visible="false">

                    <asp:RadioButtonList ID="rblRecentPending" runat="server"   AutoPostBack="true"   OnSelectedIndexChanged="rblRecentPending_SelectedIndexChanged" RepeatDirection="Horizontal">
                        <asp:ListItem Value="7" Text="Last Week" Selected="True" />
                        <asp:ListItem Value="14" Text="Last 2 Weeks"/>
                        <asp:ListItem Value="30" Text="Last 30 Days" />
                        <asp:ListItem Value="90" Text="Last 90 Days" />
                    </asp:RadioButtonList>
                </div>
                <div runat="server" id="search" visible="true">
                    <asp:Label ID="lblSearch" runat="server" Text="Claim Number: "></asp:Label><asp:TextBox ID="txtSearch" runat="server" TextMode="SingleLine" OnTextChanged="txtSearch_TextChanged"></asp:TextBox> 
                    <asp:Button ID="btnSearch" runat="server" Text="Search"  class="btn btn-info btn-xs"  OnClick="btnSearch_Click" /> 
                    <asp:RequiredFieldValidator ID="rfvSearch" runat="server" ErrorMessage="Required" ControlToValidate="txtSearch" ForeColor="#FF3300"> </asp:RequiredFieldValidator> 
                    <asp:CompareValidator
                        id="cvSearch" runat="server" 
                        Type="String"
                        Operator="DataTypeCheck"
                        ControlToValidate="txtSearch" 
                        ErrorMessage="Incorrect Format" Display="Dynamic" ForeColor="Red"></asp:CompareValidator>
                </div>
                 <div runat="server" id="nameSearch" visible="false">
                    <asp:Label ID="Label1" runat="server" Text="First Name: "></asp:Label><asp:TextBox ID="txtFirstName" runat="server" TextMode="SingleLine"></asp:TextBox> 
                      <asp:Label ID="Label2" runat="server" Text="Last Name: "></asp:Label><asp:TextBox ID="txtLastName" runat="server" TextMode="SingleLine"></asp:TextBox> 
                    <asp:Button ID="btnSearchName"  class="btn btn-info btn-xs"  runat="server" Text="Search" OnClick="btnSearchName_Click" /> 
                    
                     <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="Last Name is Required" ControlToValidate="txtLastName" ForeColor="#FF3300"> </asp:RequiredFieldValidator> 
                 </div>
                 <div runat="server" id="vehicleSearch" visible="false">
                    <asp:Label ID="Label3" runat="server" Text="Year: "></asp:Label><asp:TextBox ID="txtYear" runat="server" TextMode="SingleLine"></asp:TextBox>   <asp:RequiredFieldValidator ID="RequiredFieldValidator4" runat="server" ErrorMessage="*" ControlToValidate="txtYear" ForeColor="#FF3300"> </asp:RequiredFieldValidator> 
                     <asp:Label ID="Label4" runat="server" Text="Make: "></asp:Label><asp:TextBox ID="txtMake" runat="server" TextMode="SingleLine"></asp:TextBox>   <asp:RequiredFieldValidator ID="RequiredFieldValidator5" runat="server" ErrorMessage="*" ControlToValidate="txtMake" ForeColor="#FF3300"> </asp:RequiredFieldValidator> 
                     <asp:Label ID="Label5" runat="server" Text="Model: "></asp:Label><asp:TextBox ID="txtModel" runat="server" TextMode="SingleLine"></asp:TextBox>   <asp:RequiredFieldValidator ID="RequiredFieldValidator6" runat="server" ErrorMessage="*" ControlToValidate="txtModel" ForeColor="#FF3300"> </asp:RequiredFieldValidator> 
                     <asp:Label ID="Label6" runat="server" Text="VIN: "></asp:Label><asp:TextBox ID="txtVIN" runat="server" TextMode="SingleLine"></asp:TextBox>   <asp:RequiredFieldValidator ID="RequiredFieldValidator7" runat="server" ErrorMessage="*" ControlToValidate="txtVIN" ForeColor="#FF3300"> </asp:RequiredFieldValidator> 
                    <asp:Button ID="btnSearch3" runat="server"  class="btn btn-info btn-xs"  Text="Search" OnClick="btnSearch3_Click" /> 
                   
                </div>
          </div>
        </div>
         <div class="row">
            <div class="col-md-12">
                <hr />
                </div>
        </div>
        <asp:Label ID="lblNumbFound" runat="server" Text=""></asp:Label>
      
                <asp:GridView ID="gvSearch" runat="server" AutoGenerateColumns="False" CellPadding="4" DataKeyNames="claim_id"   ShowHeaderWhenEmpty="True" EmptyDataText="No records Found"
                    ForeColor="#333333"  OnSorting="gvSearch_Sorting" AllowSorting="True" AllowPaging="False"  OnPageIndexChanging="gvSearch_PageIndexChanging" CellSpacing="5" PagerSettings-Position="Bottom" CaptionAlign="Top" RowStyle-VerticalAlign="Top" HeaderStyle-VerticalAlign="Top" PageSize="1000" Width="100%" >
                    <AlternatingRowStyle BackColor="White" ForeColor="#284775" />
                    <Columns>
                        <asp:TemplateField HeaderText=""  ItemStyle-HorizontalAlign="Center" HeaderStyle-HorizontalAlign="center" >
                        <ItemTemplate>
                            <asp:Image ImageUrl='<%# "~/content/Images/" + (Eval("is_locked").ToString() == "True" ? "icoLocked.png" : "transparent.png") %>' runat="server" />
                        </ItemTemplate>
                    </asp:TemplateField>
                 <asp:TemplateField HeaderText="Claim No" SortExpression="display_claim_id"  ItemStyle-Width="100px" >
                            <ItemTemplate>
                            <asp:Hyperlink  ID="Hyperlink2" NavigateUrl=<%#"javascript:my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "=window.open('ViewClaim.aspx?claim_id=" + DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','my_window" +  DataBinder.Eval(Container.DataItem,"display_claim_id").ToString() + "','toolbar=no, location=no, titlebar=no, linkbar=no, directories=no, status=yes, menubar=no, scrollbars=yes, resizable=yes, width=1200, height=900, copyhistory=no, left=300, top=100').focus();" %> Runat="Server">
                            <%# Eval("display_claim_id") %></asp:Hyperlink>
                            </ItemTemplate>
                            <ItemStyle HorizontalAlign="Center" />
                        </asp:TemplateField>
             
                         <asp:BoundField DataField="claim_id" HeaderText="Claim Id"  SortExpression="claim_id"  ItemStyle-Width="75px"/>
                           <asp:BoundField DataField="policy_no" HeaderText="Policy No"  SortExpression="policy_no"  ItemStyle-Width="100px" />
                         <asp:BoundField DataField="date_of_loss" HeaderText="Date of Loss"  SortExpression="date_of_loss"  ItemStyle-Width="165px"/>
<<<<<<< HEAD
                       <asp:BoundField DataField="date_reported" HeaderText="Date Reported"  SortExpression="date_reported"  ItemStyle-Width="165px"/>
=======
<<<<<<< HEAD
                       <asp:BoundField DataField="date_reported" HeaderText="Date Reported"  SortExpression="date_reported"  ItemStyle-Width="165px"/>
=======
                       <%--<asp:BoundField DataField="date_reported" HeaderText="Date Reported"  SortExpression="date_reported"  ItemStyle-Width="165px"/>--%>
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                        <asp:BoundField DataField="adjuster" HeaderText="Adjuster"  SortExpression="adjuster"  ItemStyle-Width="150px"/>
                        <asp:BoundField DataField="last_activity_date" HeaderText="Last Activity"  SortExpression="last_activity_date"  ItemStyle-Width="165px"/>
                        <asp:BoundField DataField="insured" HeaderText="Insured"  SortExpression="insured"  ItemStyle-Width="175px"/>
                        <asp:BoundField DataField="loss_description" HeaderText="Loss Description"  SortExpression="loss_description"/>
                       <%-- <asp:BoundField DataField="claim_status" HeaderText="Status"  SortExpression="claim_status"/>--%>
                        <asp:BoundField DataField="sub_claim_type" HeaderText="Sub Type"  SortExpression="sub_claim_type" ItemStyle-Width="100px" />
                   
                      
                      
                         
                      
                        
                       
                        
                        

            </Columns>
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
               <EditRowStyle BackColor="#999999" />
                    <FooterStyle BackColor="white" Font-Bold="True" ForeColor="White" />
                      <HeaderStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
                    <PagerStyle BackColor="#93abe1" ForeColor="White" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                    <RowStyle BackColor="#DCDCDC" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#A9A9A9" Font-Bold="True" ForeColor="White" />
<<<<<<< HEAD
=======
=======
              <EditRowStyle BackColor="#999999" />
                   <FooterStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <HeaderStyle BackColor="LightGray" Font-Bold="True" ForeColor="Black" />
                     <PagerStyle BackColor="LightGray" ForeColor="Black" HorizontalAlign="Center" Height="30px" VerticalAlign="Bottom" />
                     <RowStyle BackColor="LemonChiffon" ForeColor="#333333" />
                     <SelectedRowStyle BackColor="#5D7B9D" Font-Bold="True" ForeColor="White" />
>>>>>>> 5ff95f612c3e333f551085e8166258a3f3978899
>>>>>>> 599fc40daa8032485eafabcd5e0176f600dadc8e
                    <SortedAscendingCellStyle BackColor="#E9E7E2" />
                    <SortedAscendingHeaderStyle BackColor="#506C8C" />
                    <SortedDescendingCellStyle BackColor="#FFFDF8" />
                    <SortedDescendingHeaderStyle BackColor="#6F8DAE" />
                    
        </asp:GridView>
        
    </ContentTemplate>
</cc1:TabPanel>
</cc1:tabcontainer>
            Logged in as: <asp:Label ID="txtUserName" runat="server" Text=""></asp:Label>
            </ContentTemplate>
        </asp:UpdatePanel>




</asp:Content>
