﻿<%@ Page Title="" Language="C#" MasterPageFile="~/SiteModal.Master" AutoEventWireup="true" CodeBehind="frmFileActivitySearchResults.aspx.cs" Inherits="MedCSX.Claim.frmFileActivitySearchResults" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row">
        <div class="col-md-12">
            Search Result For 
        </div>
    </div>
</asp:Content>
