﻿<%@ Page Language="C#" MasterPageFile="~/SiteModal.Master" AutoEventWireup="true" CodeBehind="frmMessage.aspx.cs" Inherits="MedCSX.Claim.frmMessage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row">
            <div class="col-md-12">
                <center><asp:Label ID="lblMessage" runat="server" Height="100px" Width="300px"></asp:Label>
                    <br /> <asp:Button ID="btnCancel" runat="server" class="btn btn-info btn-xs"  Text="Close"    OnClientClick="window.close(); return false;" />
                </center>

            </div>
    </div>
</asp:Content>
