﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="reporttest.aspx.cs" Inherits="MedCSX.Claim.reporttest" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:LinkButton ID="LinkButton1" runat="server" OnClick="LinkButton1_Click">Run Report</asp:LinkButton>
        </div>
    </form>
</body>
</html>
